<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
</head>

<body>
    <h1>TOP MISSIONS</h1>
    <div class="container">
        <ul>
            <% for(let i=0; i < allMissions.length; i++){%>
                <li>
                    <a href="/missions/<%= i; %>">
                        <%= allMissions[i].name %>
                    </a>
                </li>
                <%} %>
        </ul>
    </div>
</body>

</html>